@font-face {
  font-family: 'MontserratRegular';
  src: url('Montserrat-Regular.otf') format('opentype');
}


/*********
 * NAV   *
 *********/

#top-nav {
    background: rgba(0,0,0,0.7);
    position: fixed;
    height: 48px;
    width: 100%;
    padding-left: 50px;
    z-index: 100;
    overflow: hidden;
}
#top-nav ul, #top-nav li {
    display: inline;
    padding: 0;
}
#top-nav li a {
    color: #ddd;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 25px;
    position: relative;
    top: 7px;
    transition: all 0.3s ease-in;
}
#top-nav a.active:not([href="#maintitle"]) {
    background: rgba(255,255,255,0.4);
}
#top-nav a.active[href="#maintitle"] img {
    visibility: hidden;
    opacity: 0;
}
#top-nav a[href="#maintitle"] img {
    height: 36px;
    margin-top: -20px;
    top: 11px;
    position: relative;
}
#top-nav a[href="#maintitle"] span {
    display: none;
}
#top-nav #collapse {
    display: none;
}

@media (max-width: 960px) {
    #top-nav {
        width: 48px;
        overflow: visible;
        padding: 0;
    }
    #top-nav ul {
        display: block;
        width: 960px;
        background: rgba(0,0,0,0.7);
        position: absolute;
        top: 0px;
        margin: 0;
        margin-left: 960px;
        z-index: 2;
        position: absolute;
        transition: margin .2s ease-out;
    }
    #top-nav #collapse {
        display: block;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        line-height: 48px;
        width: 48px;
        text-align: center;
    }
    #top-nav:hover #collapse {
        border-bottom: 72px solid transparent;
    }
    #top-nav:hover ul {
        margin-left: 48px;
    }
    #top-nav li {
        display: block;
        border-bottom: 1px solid #eee;
    }
    #top-nav li a {
        top: 0;
        padding: 16px 20px 15px;
        display: block;
        font-size: 16px;
    }
    #top-nav li a:hover {
        background: rgba(255,255,255,0.3);
    }
    #top-nav a[href="#maintitle"] img {
        display: none;
    }
    #top-nav a[href="#maintitle"] span {
        display: inline;
    }
}

/*********
 * Rest   *
 *********/

body {
        font-family: MontserratRegular, sans-serif;
        background-color: #FFF;
        font-size:16px;
        color: #000;
		line-height:1.5;
}

body a {
	color:#693;
	text-decoration:none;
}

h1 {
	color:#693;
	font-size:36px;
	margin-bottom:70px;
}

h2 {
	color:#000;
	font-size:24px;
	margin-top:70px;
	margin-bottom:40px;
}

h3 {	
	font-size:20px;
	margin-top:10px;
	margin-bottom:10px;
}

h4 {    
	font-family:'MontserratRegular', sans-serif;
	font-size:16px;
	margin-top:10px;
	margin-bottom:10px;
}

a {
    color:#693;
    text-decoration:underline;
}

table {
	font-family:'MontserratRegular', sans-serif;
    background-color: #FFF;
	text-align:justify;
    font-size:16px;
    color: #000;
	line-height:1.5;
}

.centered {
    background-color: #FFF;
    color:#000;
    text-align:center;
    max-width:550px;
    margin-left: auto;
    margin-right: auto;
    padding-top:30px;
}
.mainframe {
    background-color: #FFF;
	text-align:justify;
    color:#000;
    max-width:600px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}


.abstract {
	font-weight:bold;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 10px 0 10px 0;
	margin: 30px 0 50px 0;
}

.button {
	border: 2px solid red;
	border-radius: 0.5em;
	padding: 5px;
	margin:40px 0 40px 0;
    margin-left: auto;
	margin-right: auto;
    max-width:100px;
}



.collapsible {
  background-color: white;
  color: white;
  cursor: pointer;
  width: 100%;
border:none;
padding-top:0px;
  text-align: left;
  outline: none;
color:black;
}

.collapsible:hover{
 color: #693;}

.collapsible:focus-within{
 color: #693;
}

.entry{
border-bottom: 1px solid #000; 
margin-top: 0px;
margin-bottom: 0px;
}


.previewtext {
    background-color: #CF9;
    font-style:italic;
    top:0px;
    max-width:580px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    position:fixed;
} 
 

.content {
  display: none;
  overflow: hidden;
margin-bottom:10px;
}

td {
	vertical-align: top; 
    padding-top:3px;
	padding-bottom:3px;
} 

.leftcol {
	vertical-align: top;
	text-align: left;
	line-height:1.2;
}

.footer {
	background-color: white;
    padding-top:30px;
	padding-bottom:20px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
    font-size:14px;
}

.bibbase_group {
  font-style:normal;
	font-weight: bold;
	color: black;
  background-color: white;
  border-top: 1px solid white;
  padding-top: 1rem;
	padding-left: 0px;
	margin-top: 2rem;
	  margin-bottom: 2rem;
  text-align: left;
  font-size: 20px;
  outline: 0px;
	border-bottom: 1px solid #000;
}


.bibbase_body {
  position: relative;
  margin: 2rem;
}

#bibbase_header a {
    text-decoration: none;
}

#bibbase_header i {
    width: 16px;
    text-align: center;
    margin-right: 5px;
}

.bibbase_group_count {
  display: none;
}

.bibbase_group_head_icon {
  display: none;
}

.bibbase_group_body {
  line-height: 1.5em;
}


.bibbase_paper {
  margin-bottom: 20px !important;
  margin-right: 0em;
}

.bibbase_paper_title {
  display: block;
}

.bibbase_paper_author {
  display: block;
}

img.bibbase_icon {
  display: none;
}

.bibbase_stats_paper {
  display: none;
}


/* span.bibbase_icon_text { */
/*     display: none; */
/* } */

.bibbase_code {
  width: 100%
}

.comment {
  font-size: smaller;
  font-style: italic;
  color: gray;
}

.recommended {
  color: green;
}

/* bootstrap */

.bibbase_msg {
  text-align: center;
  width: 100%;
  margin: auto;
}

#bibbase_embed_modal {
  width: 70%;
  left: 15%;
  margin: 0;
}

.bibbase.well {
  /* margin: 20px; */
  overflow-wrap: break-word;
}

.bibbase.link {
  text-decoration: none;
}

.bibbase_paper_content {
  font-size: smaller;
}



